/* 
formatting   : shift + alt + f
comment line : ctrl + k + c
*/

body {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;

  padding-top: 23px;
  background: rgb(255, 255, 255);
  font-family: "Playfair Display SC", serif;

  font-size: 0.9375em;
  line-height: 1.65em;

  color: #222222;
}

/* a,p,li global settings */
a,
p,
li {
  font-family: Lato, Arial, sans-serif;
  color: rgb(78, 78, 78);
  font-size: 1em;
  line-height: 1.75em;
}
/* h1 global settings */
h1 {
  font-family: "Playfair Display SC", serif;
  font-weight: bold;
  color: #000000;
  margin: 0 0 0.5em 0;
}
/* nav global settings */
nav {
  background: #f4f4f4;
  padding-top: 23px;
}

nav ul li a {
  color: #a7a7a7;
}
.main-nav nav ul li.active a {
  color: #4d4d4d;
}

/* avatar */
.avatar {
  vertical-align: middle;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
/* image response settings */
@media only screen and (max-width: 600px) {
  .imagecenter img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
 
 
}

/* container global settings */
.container {
  margin: auto;
  max-width: 662px;
  position: relative;
}

/* h1 settings under .container */
.container h1 {
  text-transform: uppercase;
  position: relative;
}

/* background text setting  */
.back h1:before {
  position: absolute;
  left: -220px;
  top: -150px;
 
  font-size: 270px;
  z-index: -1;
  color: #f4f4f4;
  
 
  content: "010110";
}
